canvas, nav {
    margin: 0;
}

body {
    background: #050505;
}

header {
    background: black;
}

#pageConstraint {
    background: lightgrey;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    text-align: center;
    background: black;
}

nav a {
    text-align: center;
    font-size: 8;
    margin-left: 4px;
    margin-right: 4px;
}

#content {
    padding: 4px;
}

footer p {
    text-align: center;
    font-size: 10
}
